
 
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  /*  search form */
  #product-lookup-results {
   width: 100%;   
     }
  .table-search  {
    max-width: 60%;
    margin: 0 auto;
   }
  .product-lookup {    
    margin: 20px;
    }
 
  
  .md-image {
    width:100%;
  }

 .cart_title {
  font: 120% bold;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}
 
 .item_price,  .total_line {
  text-align: right;
}
 
.total_line .total_cell {
  font-weight: bold;
  border-top: 2px solid #595;
  font-size: x-large;
  color: red;
}
.my-cart {
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
 }
 /*#scope list */
#scope-container {
   border: 2px;
   }
#scope-list a:hover {
       color: #1a1a00;
       text-decoration: none;      
    }

  #scope-list  {
 font-weight: bold;
  
  }
.login {
margin: 0 auto;
}
   
   
   
   
   
   
   