
 
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  
  .md-image {
    width:100%;
  }

 .cart_title {
  font: 120% bold;
}
 
 .item_price,  .total_line {
  text-align: right;
}
 
.total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

input{ width:100%;} 
