
 
  <% if @products.size > 0 %>

    <div id="product-lookup-results" >
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div> 
 
 <% else %>
   <div class="not-found">
       <p> No se eencontraron productos con <%= params[:search] %>.</p>
   </div>
  <% end %>


  
    <div class="ok">
       <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, :id => 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
    </div>
  