<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="alert alert-success" role="alert" style="display: none;"></div>
            <h1>Ventas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-right">
            <%=link_to "Nuevo order", new_company_order_path(@company), remote: true, class: "btn btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>RECIBO No.</th>
                        <th>FECHA</th>
                        <th> TOTAL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |order| %>
                        <%=render "order_row", order: order %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

</div><!-- close div container -->
<p>
    <%=link_to "Back to company", companies_path %>
</p>